<h1>Final Countdown</h1>

<form>
  <input type="text" id="txt" />
  <input type="button" value="Record" onclick="record()">
</form>

<p>Click on the "Start count!" button above to start the timer. The input field will count forever, starting at 0. Click on the "Stop count!" button to stop the counting. Click on the "Start count!" button to start the timer again.</p>


<!-- <table>
  <thead>
    <tr>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rec_nums.each do |rec_num| %>
      <tr>
        <td><%= rec_num.number %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rec num', new_rec_num_path %> -->
